@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    --color-primary: #525492;
    --color-secondary: #008F85;
    --color-3: #08A4BD;
    --color-4: #446DF6;

    --color-text: #A8D0F0;

    font-family: 'Space Mono', monospace;

    background-color: var(--color-primary);
    color: var(--color-text);
    margin: 0;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
    background-color: var(--color-primary);
    color: var(--color-text);
}

button {
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: var(--color-3);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

li {
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: calc(33.33% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

li:hover {
    background-color: var(--color-3);
}